# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать временные файлы
*.log

# Игнорировать зависимости (если в будущем добавите npm или другие пакеты)
node_modules/

# Игнорировать файлы конфигурации (например, с секретными данными)
*.env
